// Specific CSS for your home-page

h1 {
  font-size: $h1-font-size;
}

.english-font {
  font-family: $english-font;
}

body {
  position: relative;
  height: 95vh;
}

.arood-title {
  text-decoration: none;
  color: black;

  &:hover {
    color: rgb(163, 74, 74);
    transition-delay: 0.1s;
  }
}
