<div class="meter-container my-5">
  <% if params[:query].present? && meters.empty? %>
    <p class="english-font">No matches found</p>
  <% else %>
    <% meters.each do |meter| %>
      <div class="pattern-container">
        <h2><%= meter.name %></h2>
        <p><%= meter.mnemonic %></p>
      </div>
    <% end %>
  <% end %>
</div>
