<div class="meter-container mt-5">
  <% meters.each do |meter| %>
    <div class="pattern-container">
      <h2><%= meter.name %></h2>
      <p><%= meter.mnemonic %></p>
    </div>
  <% end %>
</div>
