<div class="footer">
  <div>
    <hr style="margin: 10px 150px">
    <div class="d-flex align-items-center justify-content-between" style="width: 800px; margin: 0 auto">
      <div class="footer-links">
        <a href="https://github.com/reemgawad/arood"><i class="fab fa-github"></i></a>
        <%# <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a> %>
      </div>
      <div class="footer-copyright english-font">
        © Arood 2022
      </div>
    </div>
  </div>
</div>
